@import "../variable/color";
@import "../scss/header";
@import "../scss/footer";
@import "../scss/scss_mixin/pagination";

hr {
	margin-bottom: 0px;
}
img {
	width: 100%;
}

// Content

// Common
.section_title_all {
	width: 100%;
	margin-bottom: 20px;
	font-family: 'RobotoSlab Bold';
	padding-top: 40px;
	color: $color-green;
	span {
		border-bottom: 2px solid $color-green;
		padding-bottom: 17px;
		font-weight: bold;
	}
}
.gallery_section {
	.section_item_all {
		text-align: center;
		padding-top: 25px;
		padding-bottom: 15px;
		width: 100%;
		i {
			color: $color-star;
			padding-bottom: 15px;
		}
		a.mainprice {
			color: $color-red;
			padding-right: 10px;
			&:hover {
				color: $color-red;
			}
		}
		a.secondprice {
			text-decoration: line-through;
			color: $color-gray;
			&:hover {
				text-decoration: line-through;
				color: $color-gray;
			}
		}
	}
}

.gallery_section_all {
	border: 1px solid $color-gray;
}
// //Common

// Start Content
.content {
	.container {
		padding-left: 3%;
	}
	.visited_name {
		margin-top: 20px;
		font-size: $font-size;
		p {
			color: $color-gray;
		}
		span {
			color: $color-green;
			&::before {
				content: "/\00a0";
				padding-left: 3px;
			}
		}
	}
	// Content left
	.section {
		.section_product_item {
			ul {
				padding: 0;
				width: 100%;
				li {
					list-style: none;
					border-bottom: 1px solid $color-gray;
					padding: 10px 0px;
					i {
						color: $color-gray;
						&:hover {
							color: $color-green;
							cursor: pointer;
						}
						p {
							color: $color-green;
							float: right;
							margin: 0;
							font-size: 16px;
						}
						&::before {
							padding-right: 5px;
						}
					}
				}
			}
		}
		.section_price_item {
			@extend .section_product_item;
		}
		.section_color_item {
			i {
				float: left;
				padding: 20px 0px;
				color: $color-gray;
				&::before {
					font-size: 24px;
					padding-right: 10px;
				}
			}
			.color_left {
				padding: 0;
				.circle_green {
					&::before {
						color: #98cb4a;
					}
				}
				.circle_purple {
					&::before {
						color: #913ccd;
					}
				}
				.circle_yellow {
					&::before {
						color: #f7d842;
					}
				}
			}
			.color_right {
				margin-left: 8%;
				.circle_red {
					&::before {
						color: #f76d3c;
					}
				}
				.circle_blue {
					&::before {
						color: #5481e6;
					}
				}
				.circle_pink {
					&::before {
						color: #f15f74;
					}
				}
			}
		}
	}
	// Content right
	.gallery {
		margin-top: 30px;
		.row {
			padding-left: 15px;
		}
		.gallery_img {
			margin: 0;
			width: 100%;
			img {
				width: 100%;
			}
		}
		.gallery_select {
			.gallery_select_left {
				i {
					padding-top: 14%;
					padding-right: 15px;
					color: $color-gray;
					&:hover {
						color: $color-green;
						cursor: pointer;
					}
				}
			}
			.gallery_select_right {
				padding: 5% 0;
				.dropdown-content {
					display: none;
					position: absolute;
					background-color: white;
					width: 100%;
					box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					z-index: 1;
					a {
						color: $color-gray;
						padding: 12px 16px;
						text-decoration: none;
						display: block;
						&:hover {
							background-color: #f1f1f1;
							color: black;
						}
					}
				}
				.dropdown:hover {
					.dropdown-content {
						display: block;
					}
					.dropbtn, .show {
						background-color: $color-green;
						color: black;
						&:hover {
							color: white;
						}
					}
				}
				a {
					padding: 0 4%;
				}
				.dropbtn {
					background-color: white;
					color: $color-gray;
					padding: 8px;
					font-size: 16px;
					border: none;
					cursor: pointer;
					i {
						padding-left: 15px;
						color: black;
					}
				}
				.dropdown {
					position: relative;
					display: inline-block;
					border: 1px solid $color-gray;
				}
				.show {
					background: white;
				    border: none;
				    cursor: pointer;
				    color: $color-gray;
				    padding: 8px 8px 8px 13px;
				    i {
				    	padding-left: 12px;
				    	color: black;
				    }
				}
			}
		}
		.gallery_section {
			padding-bottom: 30px;
		}
	}
}
// //Content
