mixin blogs_tag(link)
	.blog_tag1.row
		.blog_tag1_1
			a(href=link).name Cây văn phòng
		.blog_tag1_2
			a(href=link).name Cây phát lộc

	.blog_tag2.row
		.blog_tag2_1 
			a.name Cây xanh
		.blog_tag2_2 
			a.name Cây trang trí
		.blog_tag2_3 
			a.name Cây

	.blog_tag3.row
		.blog_tag3_1 
			a.name Plants
		.blog_tag3_2 
			a.name Sức khỏe

	.blog_tag4.row
		.blog_tag4_1
			a.name Quà tặng
		.blog_tag4_2 
			a.name Lưu niệm