mixin comment_infor(href, name, content)
	.comment_img.col-md-2
		img(src= href)
	.comment_text.col-md-10
		p.name_comment= name
			a Trả lời
		p.content_comment= content
		p.date_comment Thứ 7, 26/12/2015 12: 00 AM