body {
  background: #fbf9f9;
}
body p {
  font-size: 13px;
  color: #aaaaaa;
}

.header-top {
  background: #202020;
  height: 32px;
  color: #898989;
  display: flex;
}
.header-top__time {
  height: 100%;
}
.header-top__time i {
  padding-left: 15px;
  font-size: 13px;
}
.header-top__time a {
  font-size: 13px;
  padding-left: 5px;
}
.header-top__socials {
  height: 100%;
}
.header-top__socials a {
  font-size: 13px;
}
.header-top__socials a i {
  font-size: 13px;
  width: 36px;
  text-align: center;
}
.header-top__socials a i:hover {
  color: #3fb871;
  cursor: pointer;
}
.header-top__socials span {
  color: #898989;
}
.header-top__login a {
  margin-right: 5%;
  margin-left: 5%;
  color: #aaaaaa;
}
.header-top__login a i {
  font-size: 13px;
}
.header-top__login a:hover {
  color: #3fb871;
}

.header {
  background: url("../images/hdt.png");
}
.header__logo {
  display: flex;
}
.header__logo__name {
  margin-left: 15px;
  position: relative;
}
.header__logo__name__main {
  font-family: "VNF_Museo Slab";
  font-size: 54px;
  color: #3fb871;
}
.header__logo__name span {
  font-family: "Shelia VNF Regular";
  font-size: 70px;
  color: #3fb871;
}
.header__logo__name__text {
  font-size: 20px;
  margin-top: -27px;
  position: absolute;
}
.header__logo__img {
  padding: 0px;
}
.header__contact {
  position: relative;
}
.header__contact__help {
  margin-top: 30px;
  text-align: center;
  color: #898989;
}
.header__contact__input {
  padding: 10px;
  border-radius: 50px;
  width: 100%;
  border: none;
}
.header__contact__input::placeholder {
  color: #898989;
}
.header__contact__input a {
  float: right;
}
.header__contact__input a i::before {
  padding-left: 15px;
}
.header__contact .search-modified {
  position: absolute;
  top: 56%;
  left: 83%;
  border-left: 1px solid #aaaaaa;
  padding-left: 15px;
  color: #aaaaaa;
}
.header__card {
  margin-top: 6%;
  padding: 0;
}
.header__card a {
  color: #202020;
}
.header__card a:hover {
  color: #3fb871;
  text-decoration: none;
}
.header__card i::before {
  padding-right: 5px;
}

.menu {
  background: #3fb871;
  text-transform: uppercase;
}
.menu a {
  color: #ffffff;
}
.menu__navbar {
  width: 100%;
}
.menu__navbar__name {
  padding-left: 15px;
}
.menu__navbar__name li {
  padding: 5px;
}
.menu__navbar__name li a {
  padding: 14px 20px;
}
.menu__navbar__name li a:hover {
  color: white;
}
.menu__navbar__name__dropdown {
  top: 95%;
  left: 30%;
}
.menu__navbar__name__dropdown li:hover {
  color: #3fb871;
  background: #3fb871;
}
.menu__navbar__name__dropdown li a {
  color: #3fb871;
  text-decoration: none;
  padding: 14px 19px;
}
.menu__navbar__name__dropdown li a:hover {
  color: white;
  background: none;
}
.menu__navbar__name ul.modified {
  left: 43%;
}
.menu__toggler {
  width: 35px;
}
.menu__toggler__icon {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.footer {
  background: #313131;
  margin-top: 40px;
}
.footer p {
  font-size: 14px;
  color: #898989;
}
.footer i {
  color: #898989;
}
.footer__content {
  padding-top: 30px;
}
.footer__content p.name {
  text-transform: uppercase;
}
.footer__content__socials__icon a {
  color: #898989;
}
.footer__content__socials__icon a i {
  padding-right: 25px;
}
.footer__content__socials__icon a i:hover {
  color: #3fb871;
}
.footer__content__email p {
  padding-left: 3px;
}
.footer__content__button__textbox {
  width: 90%;
  float: left;
  padding: 8px;
}
.footer__content__button i {
  background: #3fb871;
  padding: 14px;
  float: left;
  color: white;
}
.footer hr {
  background: #898989;
}
.footer__about__title__name {
  margin: 0;
  position: relative;
}
.footer__about__title__name p.main {
  font-family: "VNF_Museo Slab";
  font-size: 54px;
  color: #3fb871;
}
.footer__about__title__name span {
  font-family: "Shelia VNF Regular";
  font-size: 70px;
  color: #3fb871;
}
.footer__about__title__name p.text {
  font-size: 20px;
  margin-top: 0;
  position: absolute;
}
.footer__about__title p {
  line-height: 28px;
  margin-top: 4%;
}
.footer__about__title i {
  line-height: 34px;
}
.footer__about__title i a {
  font-family: "Times New Roman";
  font-weight: initial;
}
.footer__about__title i::before {
  padding-right: 10px;
  color: #3fb871;
}
.footer__about__customer {
  display: flex;
  justify-content: space-between;
}
.footer__about__customer p {
  color: #3fb871;
  text-transform: uppercase;
}
.footer__about__customer ul {
  padding: 0;
  line-height: 41px;
  font-size: 13px;
}
.footer__about__customer ul li {
  list-style: none;
}
.footer__about__customer ul li:hover {
  color: #3fb871;
  cursor: pointer;
}
.footer__about__customer ul li i:hover {
  color: #3fb871;
  cursor: pointer;
}
.footer__about__customer ul li i::before {
  padding-right: 4px;
}
.footer__contact__left {
  padding: 10px 0px;
}
.footer__contact__left ul {
  padding: 0;
}
.footer__contact__left ul li {
  display: inline;
  padding-right: 20px;
}
.footer__contact__left ul li i {
  color: #898989;
  font-size: 13px;
  font-style: normal;
}
.footer__contact__left ul li i:hover {
  color: #3fb871;
  cursor: pointer;
}
.footer__contact__right {
  float: right;
}
.footer__contact__right ul {
  padding: 10px 10px;
}
.footer__contact__right ul li {
  display: inline;
}
.footer__contact__right ul li i {
  padding-right: 10px;
  font-size: 18px;
  color: #898989;
}
.footer__contact__right ul li i:hover {
  color: #3fb871;
  cursor: pointer;
}
.footer .design {
  background: #434343;
  color: #898989;
  justify-content: center;
}

.section_title_all {
  width: 100%;
  margin-bottom: 39px;
  font-family: "RobotoSlab Bold";
  padding-top: 56px;
  color: #3fb871;
}
.section_title_all span {
  border-bottom: 2px solid #3fb871;
  padding-bottom: 17px;
  font-weight: bold;
}

img {
  width: 100%;
}

.section_item_all {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  width: 100%;
}
.section_item_all i {
  color: #febf01;
  padding-bottom: 15px;
}
.section_item_all a.mainprice {
  color: #d64146;
  padding-right: 10px;
}
.section_item_all a.secondprice {
  text-decoration: line-through;
  color: #aaaaaa;
}

.container-fluid .banner {
  height: 585px;
}
.container-fluid .banner__img {
  position: relative;
}
.container-fluid .banner__img img {
  height: 100%;
}
.container-fluid .banner__img i {
  color: #fff;
}
.container-fluid .banner__circle {
  position: absolute;
  top: 93%;
  left: 50%;
}
.container-fluid .banner__circle .banner__circle--green {
  color: #3fb871;
  cursor: pointer;
}
.container-fluid .banner__circle i:hover {
  opacity: 0.5;
  cursor: pointer;
}
.container-fluid .section_new {
  color: #fff;
  position: absolute;
  top: 6%;
  left: 12%;
  background: #3fb871;
  border-radius: 50%;
  padding: 13px;
}
.container-fluid .section_discount {
  color: #fff;
  position: absolute;
  top: 6%;
  left: 12%;
  background: #d64146;
  border-radius: 50%;
  padding: 13px;
}
.container-fluid .border_all, .container-fluid .section2 .section2__gallery-right__content-top__item, .container-fluid .section2 .section2_item, .container-fluid .section1 .section1__gallery__right__content-bot, .container-fluid .section1 .section1__gallery__left__content-top, .container-fluid .section1 .section-item-product__right, .container-fluid .section1 .section-item-product .section-item-product__left, .container-fluid .section-item {
  border: 1px solid #aaaaaa;
}
.container-fluid .section1 .section-item-product {
  height: 100%;
  padding: 0;
}
.container-fluid .section1 .section-item-product .section-item-product__left {
  margin-right: 15px;
  position: relative;
}
.container-fluid .section1 .section-item-product__right {
  margin-left: 15px;
  position: relative;
}
.container-fluid .section1 .section1__gallery__left {
  height: 100%;
  padding: 0;
}
.container-fluid .section1 .section1__gallery__left img {
  height: 100%;
}
.container-fluid .section1 .section1__gallery__left--modified {
  margin-right: 15px;
  position: relative;
}
.container-fluid .section1 .section1__gallery__left__content-top {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  position: relative;
}
.container-fluid .section1 .section1__gallery__left__content-top--icon {
  position: absolute;
  top: 43.5%;
  left: 32%;
  display: flex;
}
.container-fluid .section1 .section1__gallery__left__content-top .section_new {
  top: 4%;
  left: 5%;
}
.container-fluid .section1 .section1__gallery__left .section1_buy {
  margin-right: 10px;
  color: black;
  background: #fff;
  border-radius: 45px;
  padding: 10px 35px;
  text-align: center;
}
.container-fluid .section1 .section1__gallery__left .section1_buy:hover {
  color: white;
  background: #3fb871;
  cursor: pointer;
}
.container-fluid .section1 .section1__gallery__left .section1_search {
  background: #fff;
  border-radius: 50px;
  padding: 10px 15px;
}
.container-fluid .section1 .section1__gallery__left .section1_search:hover {
  color: white;
  background: #3fb871;
  cursor: pointer;
}
.container-fluid .section1 .section1__gallery__left__content-bot {
  margin: 0;
}
.container-fluid .section1 .section1__gallery__right {
  height: 100%;
  padding: 0;
}
.container-fluid .section1 .section1__gallery__right img {
  height: 100%;
}
.container-fluid .section1 .section1__gallery__right--modified {
  margin-left: 15px;
  position: relative;
}
.container-fluid .section1 .section1__gallery__right__content-top {
  margin: 0;
}
.container-fluid .section1 .section1__gallery__right__content-bot {
  margin: 20px 0px;
  position: relative;
}
.container-fluid .section1 .section1__gallery__right__content-bot .section_discount {
  top: 4%;
  left: 5%;
}
.container-fluid .section2 .section2__gallery__title {
  margin-right: 0px;
}
.container-fluid .section2 .section2__gallery__product {
  margin-right: 0px;
}
.container-fluid .section2 .section2_item {
  display: flex;
  padding: 11% 0px;
  margin: 0;
}
.container-fluid .section2 .section2_5item i {
  color: #febf01;
  padding-bottom: 15px;
}
.container-fluid .section2 .section2_5item .mainprice {
  color: #d64146;
  padding-right: 10px;
}
.container-fluid .section2 .section2_5item .secondprice {
  text-decoration: line-through;
  color: #aaaaaa;
}
.container-fluid .section2 .section2_5item a:hover {
  text-decoration: line-through;
  color: #aaaaaa;
}
.container-fluid .section2 .section2__gallery-right {
  padding-right: 0;
}
.container-fluid .section2 .section2__gallery-right__title {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
.container-fluid .section2 .section2__gallery-right__title i {
  margin-top: -73px;
  width: 18px;
  color: #aaaaaa;
}
.container-fluid .section2 .section2__gallery-right__content-top {
  margin-bottom: 20px;
}
.container-fluid .section2 .section2__gallery-right__content-top__item {
  padding-bottom: 1.5%;
  width: 100%;
}
.container-fluid .section3 .section3__banner {
  margin-top: 30px;
}
.container-fluid .section3 .section3__title {
  display: flex;
  justify-content: flex-end;
}
.container-fluid .section3 .section3__title i {
  margin-top: -73px;
  width: 18px;
  color: #aaaaaa;
}
.container-fluid .section3 .section3__content-bot {
  margin-top: 30px;
}
.container-fluid .section4 {
  font-size: 13px;
}
.container-fluid .section4 .section4_date {
  font-style: italic;
  color: #aaaaaa;
  line-height: 40px;
}
.container-fluid .section4 .section4_topic, .container-fluid .section4 .section4_readmore {
  color: #3fb871;
  line-height: 40px;
}
.container-fluid .section4 .section4_readmore:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*# sourceMappingURL=home.css.map */
