mixin list_item(href)
	.gallery_section_img.col-md-4
		img(src= href)
	.gallery_section_item.col-md-8
		.gallery_name.row
			p Cây ngọc ngân
		.gallery_rate.row
			i.fas.fa-star
			i.fas.fa-star
			i.fas.fa-star
			i.fas.fa-star
			i.fas.fa-star
		.gallery_content.row
			p Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.
		.gallery_price.row
			p 279.000 đ
		.gallery_button.row
			.gallery_button_buy Mua Ngay
			.gallery_button_search
				i.fas.fa-search
			.gallery_button_heart
				i.fas.fa-heart