mixin list_gallery()
	.section_product_title.row
		.section_title_all
			h5 
				span Danh mục sản phẩm
			hr
	.section_product_item.row
		ul
			li
				i.fas.fa-chevron-right Cây chậu treo ( 10 )
			li
				i.fas.fa-chevron-right 
					p Cây có hoa ( 5 )
			li
				i.fas.fa-chevron-right Cây dây leo
			li
				i.fas.fa-chevron-right Cây để bàn
			li
				i.fas.fa-chevron-right Cây may mắn
			li
				i.fas.fa-chevron-right Cây trang trí
			li
				i.fas.fa-chevron-right Cây nội thất

	.section_price_title.row
		.section_title_all
			h5 
				span Tìm theo giá
			hr
	.section_price_item.row
		ul
			li
				i.fas.fa-chevron-right 200.000 Đ - 400.000 Đ
			li
				i.fas.fa-chevron-right 400.000 Đ - 600.000 Đ
			li
				i.fas.fa-chevron-right 600.000 Đ - 800.000 Đ
			li
				i.fas.fa-chevron-right 800.000 Đ - 1.000.000 Đ
			li
				i.fas.fa-chevron-right 1.000.000 Đ - 2.000.000 Đ