mixin category()
	.section_product_item.row
		ul
			li
				i.fas.fa-chevron-right 
					p Cây chậu treo ( 10 )
			li
				i.fas.fa-chevron-right 
					p.modified Cây có hoa ( 5 )
			li
				i.fas.fa-chevron-right 
					p Cây dây leo
			li
				i.fas.fa-chevron-right 
					p Cây để bàn
			li
				i.fas.fa-chevron-right 
					p Cây may mắn
			li
				i.fas.fa-chevron-right 
					p Cây trang trí
			li
				i.fas.fa-chevron-right 
					p Cây nội thất