mixin section2_item(href, name, price)
	.row.section2_item
		.section2_img.col-md-5
			img(src= href)
		.section2_5item.col-md-6= name
			br
			i.fas.fa-star
			i.fas.fa-star
			i.fas.fa-star
			i.fas.fa-star
			i.fas.fa-star-half
			a.mainprice= price