mixin section4_content(href, date, topic, description)
	.section4_content_img
		img(src= href)
	.section4_date= date
	.section4_topic= topic
	.section4_description= description
	.section4_readmore Đọc tiếp