#footer.footer.row
  .container

    //- Footer top content
    .row.footer__content
      .col-md-4.footer__content__socials
        .footer__content__socials__name
          p.name Kênh thông tin từ chúng tôi:
        .footer__content__socials__icon
            a(href='#')
                i.fab.fa-facebook-f(title='Facebook')
            a(href='#')
                i.i.fab.fa-youtube(title='Youtube')
            a(href='#')
                i.fab.fa-tumblr(title='Pinterest')
            a(href='#')
                i.i.fab.fa-vimeo-v(title='Vimeo')
      .col-md-2.footer__content__email
          p.name Đăng ký nhận email từ chúng tôi
      .col-md-6.footer__content__button
          input.textbox.footer__content__button__textbox(type='text')
          i.fab.fa-telegram-plane
    hr

    //- About us
    .row.footer__about
      .col-md-4.footer__about__title
        .footer__about__title__name
          p.main Green
            span Shop
          p.text Món quà từ thiên nhiên
          br
          p Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triển
          i.fas.fa-mobile-alt 
            a Điện thoại : (84-4) 66.558.868
          i.far.fa-envelope Email: info@dkt.com.vn

      .col-md-8.footer__about__customer
        .footer__about__customer__infor
          p Thông tin khách hàng
          ul
            li
              i.fas.fa-chevron-right Tài khoản của tôi
            li
              i.fas.fa-chevron-right Sản phẩm yêu thích
            li
              i.fas.fa-chevron-right Lịch sử mua hàng
            li
              i.fas.fa-chevron-right Chính sách đổi trả
            li
              i.fas.fa-chevron-right Góp ý, khiếu nại

        .footer__about__customer__service
          p Hỗ trợ dịch vụ
          ul
            li
              i.fas.fa-chevron-right Hệ thống cửa hàng
            li
              i.fas.fa-chevron-right Hướng dẫn mua hàng
            li
              i.fas.fa-chevron-right Hướng dẫn thanh toán
            li
              i.fas.fa-chevron-right Tích điểm đổi quà
            li
              i.fas.fa-chevron-right Câu hỏi thường gặp

        .footer__about__customer__discount
          p Chính sách ưu đãi
          ul
            li
              i.fas.fa-chevron-right Chính sách giao hàng
            li
              i.fas.fa-chevron-right Chính sách đổi trả sản phẩm
            li
              i.fas.fa-chevron-right Chính sách bảo hành
            li
              i.fas.fa-chevron-right Giới thiệu sản phẩm mới
            li
              i.fas.fa-chevron-right Chính sách trả góp

        .footer__about__customer__news
          p Tin tức
          ul
            li
              i.fas.fa-chevron-right Tin mới
            li
              i.fas.fa-chevron-right Khuyến mại
            li
              i.fas.fa-chevron-right Tuyển dụng
            li
              i.fas.fa-chevron-right Dowload
            li
              i.fas.fa-chevron-right Tags
    hr

    //- Contact
    .row.footer__contact
      .col-md-8
        .footer__contact__left
          ul
            li
              i Sitemap
            li
              i Danh mục sản phẩm
            li
              i Hợp tác
            li
              i Thông tin liên hệ
            li
              i Câu hỏi thường gặp
      .col-md-4
        .footer__contact__right
          ul
            li
              i.fab.fa-cc-visa
              i.fab.fa-cc-mastercard
              i.fab.fa-cc-paypal
              i.fab.fa-cc-discover

    //- Design
    .design.row
      p Thiết kế bởi  Bizweb &copy;